.catalog-tabs.swiper-container
	.swiper-wrapper
		.swiper-slide(aria-selected="true")
			a(href="javascript:void(0);") Роллы
		.swiper-slide(aria-selected="false")
			a(href="javascript:void(0);") Суши
		.swiper-slide(aria-selected="false")
			a(href="javascript:void(0);") Сеты
		.swiper-slide(aria-selected="false")
			a(href="javascript:void(0);") Сашими
		.swiper-slide(aria-selected="false")
			a(href="javascript:void(0);") Супы и фри
		.swiper-slide(aria-selected="false")
			a(href="javascript:void(0);") Салаты
		.swiper-slide(aria-selected="false")
			a(href="javascript:void(0);") Дополнительно