include ../mixins/form/radio.pug
include ../mixins/form/text-field.pug
include ../mixins/form/switch.pug
include ../mixins/form/select.pug
include ../mixins/form/textarea.pug
include ../mixins/form/number-field.pug

.checkout-delivery
	+radio('address-1', 'address', 'Дом, Южно-Сахалинск, ул. Капитанская д. 65 кв 98 под. 5 эт. 6')
	+radio('address-2', 'address', 'Другой адрес', true)
	+select('city', ['Город', 'Хабаровск', 'Южно-Сахалинск'], true, 'mt-lg')
	+text-field('street', 'Улица', true, true)
	.col-2
		+text-field('house', 'Дом, корпус', true, true)
		+text-field('apartment', 'Квартира', true, true)
	.col-2
		+text-field('porch', 'Подъезд', true, true)
		+text-field('floor', 'Этаж', true, true)
	.d-flex.justify-content-space-between(style="margin: -2px 0 -4px 0;")
		p Частный дом
		+switch('private-house')
	+textarea('comment-address', 'Комментарий к адресу', false, '', 'mt-lg')