include ../mixins/form/radio.pug

.checkout-pickup
	+radio('address-pickup-1', 'address-pickup', 'ул. Капитанская д. 65')
	+radio('address-pickup-2', 'address-pickup', 'ул. Навигационая д. 32', true)
	button.btn.btn_size_lg.waves-effect.waves-light.mt-lg.full-width Показать на карте

