header.header.header_product
	.header-wrap
		a.header__back.icon-arrow-left(href="javascript:void(0);")
		.header__title Цезарь темпура
		a.header__like(href="javascript:void(0);")
			span 15
			i.icon-heart
