nav.navbar
	ul
		li.active
			a.waves-effect.waves-gray(href="javascript:void(0);")
				i.icon-menu
				span Меню
		li
			a.waves-effect.waves-gray(href="javascript:void(0);")
				i.icon-account
				span Профиль
		li.gift
			a.waves-effect.waves-gray(href="javascript:void(0);" data-modal-open="gifts")
				i.icon-svg-gift
				span Подарок
		li
			a.waves-effect.waves-gray(href="javascript:void(0);")
				i.icon-map
				span Контакты
		li
			a.waves-effect.waves-gray(href="javascript:void(0);")
				i.icon-shop
					sup 1
				span Корзина

include ../includes/modals/modal-gifts.pug