include ../../mixins/modal.pug
include ../../mixins/form/radio.pug

+modal('gifts', 'Выберите подарок')
	.add-gift-list.mt-sm(data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y")
		.col-2.mb-xl
			div
				+radio('gift-1', 'gift', 'Цезарь ролл подарок <sub>От 1000 руб.</sub>', false, 'mt-xs')
					img(src="../../images/gifts/1.png")
			div
				+radio('gift-2', 'gift', 'Цезарь ролл подарок <sub>От 1500 руб.</sub>', false, 'mt-xs')
					img(src="../../images/gifts/2.png")
		.col-2.mb-xl
			div
				+radio('gift-3', 'gift', 'Цезарь ролл подарок <sub>От 2000 руб.</sub>', false, 'mt-xs')
					img(src="../../images/gifts/3.png")
			div
				+radio('gift-4', 'gift', 'Цезарь ролл подарок <sub>От 2500 руб.</sub>', false, 'mt-xs')
					img(src="../../images/gifts/4.png")
		.col-2
			div
				+radio('gift-5', 'gift', 'Цезарь ролл подарок <sub>От 3000 руб.</sub>', false, 'mt-xs')
					img(src="../../images/gifts/5.png")
			div
				+radio('gift-6', 'gift', 'Цезарь ролл подарок <sub>От 3500 руб.</sub>', false, 'mt-xs')
					img(src="../../images/gifts/6.png")
