include ../../mixins/modal.pug

+modal('not-delivery')
	img(src="../../images/compas.svg")
	.title.mt-lg
		| Мы пока не доставляем 
		br 
		| по данному адресу
	p.mt-xs Сообщить когда доставка расширится?
	button.btn.btn_size_lg.waves-effect.waves-light.full-width.mt-xl Сообщить