include ../../mixins/modal.pug

+modal('gift-added')
	img(src="./../../images/treasure.png")
	p.mt-xs Бесплатный подарок добавлен в корзину
	button.btn.full-width.btn_size_lg.mt-lg.waves-effect.waves-light Продолжить