include ../../mixins/modal.pug
include ../../mixins/spices.pug
- var spicesList = [
-		{title: 'Васаби, соевый соус, имбирь (140г)', price: 60},
-		{title: 'Соус соевый (100г)', price: 10},
-		{title: 'Имбирь (30г)', price: 25},
-		{title: 'Васаби (10г)', price: 10},
-];

+modal('add-spices', 'Забыли добавить специи', 'Специи оплачиваются отдельно.')
	each spicesItem in spicesList
		+spices(spicesItem)
	button.btn.full-width.btn_size_lg.waves-effect.waves-light.mt-sm Продолжить оформление