include ../../mixins/modal.pug

+modal('min-sum')
	img(src="../../images/min-sum.svg")
	.title.mt-lg Доставка по адресу
	.h1.mt-xs от 1000 руб.
	p.mt-xs
		| Дополните заказ
		br
		| или выберете самовывоз
	a.btn.btn_size_lg.waves-effect.waves-light.full-width.mt-xl(href="javascript:void(0);") Смотреть меню
	a.btn.btn_size_lg.btn_outline.waves-effect.waves-blue.full-width.mt-sm(href="javascript:void(0);") Смотреть зону доставки