.basket-product {
	display: grid;
	grid-template-columns: 106px 1fr;
	grid-gap: 12px;
	position: relative;
	border-bottom: 1px solid $color-border;

	&:not(:last-of-type) {
		margin-bottom: 7px;
	}

	&__img {
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&-content {
		align-self: center;
		padding: 11px 40px 11px 0;
	}

	&__title {
		display: inline-block;
		padding-right: 34px;
		line-height: 16px;
		font-family: $exo-2;
		font-weight: 500;
		letter-spacing: 0.1px;
		color: #000;
		text-decoration: none !important;
	}

	&-footer {
		margin-top: 4px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__price {
		font-family: $exo-2;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.1px;
		color: #000;
	}

	&__count {
		width: 108px;
	}

	&__remove {
		font-size: 22px;
		padding: 6px;
		position: absolute;
		top: -1px;
		right: 2px;
		color: $color-gray;
		text-decoration: none !important;
	}
}