.bottom-action-block {
	position: sticky;
	bottom: 57px;
	background: #fff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
	padding: 16px $space 22px $space;
	margin: 0 -#{$space};
	z-index: 50;

	&::before {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #fff;
		content: "";
		height: 12px;
	}
}
