.btn {
	@include transition-active;
	@include flex-center;
	@include rounded;
	text-decoration: none !important;
	cursor: pointer;
	padding: 14px 28px;
	border: none;
	outline: none;
	user-select: none;
	position: relative;
	font-family: $open-sans;
	line-height: 1;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background-color: $color-secondary;

	&:disabled, &.btn_disabled {
		pointer-events: none;
		background-color: $color-gray;
		cursor: default;
	}

	&:active {
		background-color: $color-dark-secondary;
	}

	&:focus {
		background-color: $color-dark-secondary;
	}

	&_outline {
		border: 1px solid $color-primary;
		color: $color-primary;
		background-color: transparent;
		padding: 13px 28px;

		&:active {
			background-color: $color-dark-primary;
			color: $color-dark-primary;
			background-color: transparent;
		}
	
		&:focus {
			background-color: $color-dark-primary;
			color: $color-dark-primary;
			background-color: transparent;
		}
	}

	&_outline-red {
		border: 1px solid $color-red;
		color: $color-red;
		background-color: transparent;
		padding: 13px 28px;

		&:active {
			background-color: $color-dark-red;
			color: $color-dark-red;
			background-color: transparent;
		}
	
		&:focus {
			background-color: $color-dark-red;
			color: $color-dark-red;
			background-color: transparent;
		}
	}

	&_size_sm {
		font-size: 10px;
		padding: 12px 24px;

		&.btn_outline,
		&.btn_outline-red {
			padding: 11px 24px;
		}
	}

	&_size_lg {
		font-size: 14px;
		padding: 17px 32px;

		&.btn_outline,
		&.btn_outline-red {
			padding: 16px 32px;
		}
	}

	&.full-width {
		width: 100%;
	}
}