.catalog-tabs {
	position: sticky !important;
	top: 0;
	padding-left: 4px;
	padding-right: 4px;
	background: #fff;
	z-index: 50 !important;

	&.is-sticky {
		@include shadow;
	}

	.swiper-slide {
		@include rounded;
		width: auto;
		margin-top: 4px;
		margin-bottom: 4px;
		padding: 12px;
		background-color: #fff;
		color: $color-paragraph;
		text-transform: uppercase;
		font-family: $exo-2;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		transition: color 0.25s ease-in-out,
		background-color 0.25s ease-in-out;
		
		&[aria-selected="true"] {
			background-color: $color-primary;
			color: #fff;
		}
		
		a {
			outline: none !important;
			color: inherit;
			user-select: none;
			text-decoration: none !important;
			font-weight: 600;
		}
	}
}

.catalog-item {
	@include shadow-light;
	margin-left: $space;
	margin-right: $space;
	position: relative;

	&:not(:last-of-type) {
		margin-bottom: $space;
	}

	&__like {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: -6px;
		left: -9px;
		background: rgba($color: #fff, $alpha: 0.4);
		backdrop-filter: blur(10px);
		border-radius: 55px;
		padding: 4px 6px;
		z-index: 2;
		text-decoration: none !important;

		i {
			color: $color-secondary;
			font-size: 24px;
		}

		span {
			font-weight: 700;
			font-size: 14px;
			line-height: 1;
			color: #000;
			margin-left: 3px;
		}
	}

	&__content {
		position: relative;
		display: grid;
		grid-template-columns: 120px 1fr;
		z-index: 1;
	}

	.product__status {
		top: 5px;
		left: -9px;
	}

	&__img {
		display: inline-block;
		width: 120px;

		img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__wrap {
		margin: 12px 6px 12px 12px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__name {
		font-family: $exo-2;
		color: #000;
		text-decoration: none !important;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.1px;
		padding-right: 52px;
		min-height: 24px;
		display: inline-block;
	}
	
	&__info {
		position: absolute;
		font-size: 24px;
		color: $color-gray;
		top: -6px;
		right: 0px;
		text-decoration: none !important;
	}

	&__bottom {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__price {
		font-family: $exo-2;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.1px;
	}

	.btn {
		padding: 13px 28px;
		width: 116px;
	}

	.form-item__type_number {
		display: none;
		width: 116px;
	}
}

.product__status {
	@include flex-center;
	position: absolute;
	top: 0;
	left: 0;
	font-family: $exo-2;
	font-weight: 800;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #fff;
	padding: 6px 8px;
	border-radius: 0 20px 20px 0;
	background-color: $color-primary;
	z-index: 2;

	&::before {
		position: absolute;
		bottom: -5px;
		left: 2px;
		transform: rotate(45deg);
		border: 5px solid transparent;
		border-bottom-color: $color-dark-primary;
		content: "";
	}

	&.red {
		background-color: $color-red;

		&::before {
			border-bottom-color: $color-dark-red;
		}
	}

	&.orange {
		background-color: $color-secondary;

		&::before {
			border-bottom-color: $color-dark-secondary;
		}
	}
}

.product-props {
	width: 176px;

	h6 {
		color: #999;
		font-size: inherit;
		margin-top: 16px;
		margin-bottom: 12px;
	}

	div {
		display: flex;
		justify-content: space-between;
		letter-spacing: 0.1px;

		&:not(:last-of-type) {
			margin-bottom: 8px;
		}

		span:last-of-type {
			width: 60px;
		}
	}
}