.header {
	@include shadow;
	display: flex;
	align-items: center;
	min-height: 56px;
	background: #fff;
	border-radius: 0px 0px 12px 12px;
	padding: 12px 0;
	z-index: 1000;

	&-wrap {
		padding-left: $space;
		padding-right: $space;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__logo {
		width: 56px;
	}

	&__select-city {
		display: inline-block;
		position: relative;
		padding-right: 24px;
		font-size: 14px;
		line-height: 24px;
		color: #000;
		text-decoration: none !important;
		font-weight: 400;
		
		&::before {
			position: absolute;
			top: 50%;
			right: 7px;
			margin-top: -2px;
			content: "";
			border: 5px solid transparent;
			border-top-color: #333;
		}
	}

	&__tel {
		color: $color-primary;
		font-size: 24px;
		text-decoration: none !important;
		font-weight: 400;
	}
}

.header_product,
.header_inner {
	position: sticky;
	top: 0;

	.header-wrap {
		justify-content: flex-start;
	}

	a {
		display: flex;
		text-decoration: none !important;
		font-weight: 400;
		color: $color-primary;
	}

	.header__back {
		@include rounded(50%);
		font-size: 24px;
		margin-right: 24px;

		&:active {
			color: $color-dark-primary;
		}
	}

	.header__title {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.5px;
	}

	.header__tel {
		@include rounded(50%);
		margin-left: auto;
		font-size: 24px;

		&:active {
			color: $color-dark-primary;
		}
	}

	.header__like {
		margin-left: auto;
		display: flex;
		align-items: center;

		span {
			font-size: 14px;
			line-height: 18px;
			font-weight: 700;
			letter-spacing: 0.1px;
			color: #000;
			display: inline-block;
			margin-right: 2px;
		}

		i {
			font-size: 24px;
			color: $color-dark-secondary;
		}
	}
}