.form-item {
	&:not(:last-child) {
		margin-bottom: $space;
	}
}

@import "./form-elements/text";
@import "./form-elements/checkbox-radio";
@import "./form-elements/switch";
@import "./form-elements/count";
@import "./form-elements/textarea";
@import "./form-elements/color-picker";
@import "./form-elements/select";