.menu-list {
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		text-decoration: none !important;
		font-weight: 400;
	}

	&__item {
		&-wrap {
			padding: 16px $space;
			display: flex;
			align-items: center;
			border-bottom: 1px solid $color-border;
		}

		i {
			font-size: 40px;
			color: #999;
			display: flex;
			margin-right: 16px;
		}

		p {
			color: #000;
		}
	}

	&__text {
		flex-grow: 1;
		max-width: calc(100% - 96px);
		letter-spacing: 0.1px;

		h6 {
			color: #999;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.1px;
		}

		span {
			color: #000;
			font-size: 14px;
			line-height: 18px;
			font-weight: 700;
			display: inline-block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 100%;
			margin-top: 6px;
			margin-bottom: -5px;
		}

		& + a {
			display: flex;
			margin-left: 16px;
			font-size: 24px;
			color: $color-primary;
			text-decoration: none !important;
			font-weight: 400;
		}
	}
}