.modal {
	display: none;
}

.swal2 {
	&-container {
		padding: 0;

		.modal {
			display: block;
		}
	}

	&-title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding-left: 25px;
		padding-right: 25px;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 12px;

		span {
			margin-top: 6px;
			font-size: 14px;
			line-height: 24px;
			font-weight: 400;
		}
	}

	&-popup {
		@include rounded(6px);
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
		background-color: #fff;
		padding: 16px 12px;
		width: 100%;
		max-width: 330px;
	}

	&-container.swal2-backdrop-show {
		background: rgba($color: #000, $alpha: 0.3)
	}
	
	&-content {
		font-size: inherit;
		line-height: inherit;
	}

	&-close {
		@include transition-hover;
		font-size: 24px;
		top: 8px;
		right: 8px;
		outline: none;
		color: #666;

		&:hover {
			color: #666;
			opacity: 0.8;
		}
	}
}

#modal-gift-added {
	p {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.25px;
		color: #000;
	}
}

#modal-gifts {
	.add-gift-list {
		height: 360px;

		img {
			width: 100%;
			max-width: 88px;
			object-fit: contain;
			object-position: center;
			margin-bottom: 6px;
		}

		.form-item__radio-gift {
			p {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				text-align: left;
				font-family: $exo-2;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.1px;
				color: #000;

				sub {
					letter-spacing: 0.1px;
					line-height: 16px;
					font-size: 14px;
					color: #333;
					bottom: 0;
					margin-top: 6px;
				}
			}

			label {
				display: flex;
				flex-direction: column;
			}
		}
	}
}