.navbar {
	@include shadow;
	position: sticky;
	bottom: 0;
	z-index: 50;
	background-color: #fff;
	border-radius: 12px 12px 0 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		li {
			flex: 0 0 20%;
			max-width: 20%;

			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 7px 6px;
				text-decoration: none !important;
				font-weight: 400;
				position: relative;
			}

			i {
				display: inline-block;
				color: $color-gray;
				font-size: 26px;
				position: relative;

				sup {
					@include flex-center;
					@include rounded(50%);
					width: 16px;
					height: 16px;
					background-color: $color-dark-secondary;
					font-size: 10px;
					color: #fff;
					position: absolute;
					top: -2px;
					right: -2px;
				}
			}

			span {
				display: flex;
				align-items: flex-end;
				margin-top: 3px;
				color: $color-paragraph;
				font-size: 12px;
				line-height: 1;
				height: 14px;
			}

			.icon-svg-gift {
				width: 26px;
				height: 26px;
			}

			&.active {
				i {
					color: $color-primary;
				}

				span {
					font-size: 14px;
					color: $color-primary;
				}

				&.gift {
					span {
						color: $color-dark-secondary;
					}
				}
			}
		}
	}
}