.product-history {
	display: grid;
	grid-template-columns: 96px 1fr;
	grid-gap: 12px;
	position: relative;

	&:not(:last-of-type) {
		margin-bottom: 9px;
	}

	a {
		text-decoration: none !important;
		font-weight: 400;
	}

	&__img {
		@include flex-center;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&-content {
		align-self: center;
		padding-right: 60px;
	}

	&__title {
		display: inline-block;
		font-size: 14px;
		line-height: 16px;
		font-family: $exo-2;
		font-weight: 500;
		letter-spacing: 0.1px;
		color: #000;
	}

	&-footer {
		margin-top: 4px;
		display: flex;
	}

	&__price {
		margin-right: 27px;
		font-weight: 700;
		font-family: $exo-2;
	}

	&__amount {
		font-weight: 700;
	}
	
	&__info {
		position: absolute;
		top: 6px;
		right: 6px;
		font-size: 24px;
		color: #999;
	}
}