.spices {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 40px 108px;
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 4px;
	padding: 8px;
	min-height: 64px;

	&:not(:last-of-type) {
		margin-bottom: 8px;
	}

	&__title {
		h6 {
			font-size: 12px;
			line-height: 15px;
			letter-spacing: 0.2px;
		}

		span {
			font-size: 10px;
			text-transform: uppercase;
			color: $color-green;
			font-weight: 600;
			letter-spacing: 0.1px;
		}
	}

	&__price {
		font-family: $exo-2;
		font-size: 14px;
		font-weight: 700;
	}

	&__add-cart {

	}

	.form-item__type_number {
		display: none;
	}
}