@import '../../../node_modules/swiper/swiper';
@import '../../../node_modules/swiper/components/pagination/pagination';

.banner {
	padding-bottom: 13px;

	.swiper-slide {
		padding: 0 16px;
		width: 100%;

		img {
			border-radius: 12px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.swiper-pagination {
		bottom: 0;

		.swiper-pagination-bullet {
			opacity: 1;
			background-color: $color-light-gray;

			&-active {
				background-color: $color-gray;
			}

		}

		&.swiper-pagination-bullets-dynamic {
			.swiper-pagination-bullet-active-next-next,
			.swiper-pagination-bullet-active-next,
			.swiper-pagination-bullet-active-prev-prev,
			.swiper-pagination-bullet-active-prev {
				transform: scale(0.5);
			}
		}
	}
}