.tabs {
	&-list {
		@include rounded;
		display: grid;
		grid-gap: 4px;
		grid-template-columns: 1fr;
		position: relative;
		overflow: hidden;
		border: 2px solid $color-secondary;
		padding: 2px;

		&.col_2 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.col_3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.col_4 {
			grid-template-columns: repeat(4, 1fr);
		}
		
		&__item {
			@include rounded(4px);
			@include flex-center;
			position: relative;
			color: $color-paragraph;
			padding: 11px 10px ;
			z-index: 1;
			font-family: $exo-2;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none !important;

			&[aria-selected="true"] {
				color: #fff;
			}
		}

		&__background {
			@include rounded(4px);
			@include transition-hover;
			position: absolute;
			background-color: $color-secondary;
		}
	}

	.tabs-content {
		margin-top: 1.5 * $space;

		[aria-hidden="true"] {
			display: none;
		}
	}
}