.tippy-tooltip[data-animation=fade][data-state=hidden] {
	opacity: 0
}

.tippy-iOS {
	cursor: pointer !important;
	-webkit-tap-highlight-color: transparent
}

.tippy-popper {
	pointer-events: none;
	max-width: 200px;
	transition-timing-function: cubic-bezier(.165, .84, .44, 1);
	transition-property: transform
}

.tippy-tooltip {
	position: relative;
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.4;
	transition-property: visibility, opacity, transform;
	outline: 0
}

.tippy-content {
	background: #000000;
	border-radius: 2px;
	padding: 12px;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
}

.tippy-tooltip[data-interactive][data-state=visible] {
	pointer-events: auto
}

.tippy-tooltip[data-inertia][data-state=visible] {
	transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}