.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;

  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top:-10px;
    margin-left:-10px;
    opacity: 0;
    background: rgba(0,0,0,0.2);
    transition: all 0.7s ease-out;
    transition-property: transform, opacity;
    transform: scale(0);
    pointer-events: none;
  }

  // Waves Colors
  &.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }

  &.waves-orange .waves-ripple {
    background-color: rgba($color: $color-secondary, $alpha: 0.45);
  }

  &.waves-blue .waves-ripple {
    background-color: rgba($color: $color-primary, $alpha: 0.45);
  }

  &.waves-gray .waves-ripple {
    background-color: rgba($color: $color-gray, $alpha: 0.45);
  }

  &.waves-red .waves-ripple {
    background-color: rgba($color: $color-red, $alpha: 0.45);
  }
}

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1;
}