.container {
	padding-left: $space;
	padding-right: $space;
}

.d-flex {
	display: flex;
}

.flex-direction-column {
	flex-direction: column;
}

.flex-direction-row {
	flex-direction: row;
}

.justify-content-flex-start {
	justify-content: flex-start;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-evenly {
	justify-content: space-evenly;
}

.justify-content-space-around {
	justify-content: space-around;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-flex-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.col-2 {
	display: grid;
	grid-gap: $space;
	grid-template-columns: repeat(2, 1fr);
}

.mx- {
	margin-left: -#{$space} !important;
	margin-right: -#{$space} !important;
}

.ml-sm {
	margin-left: 0.75 * $space !important;
}

.ml {
	margin-left: $space !important;
}

$sizes: (
	'-xs': 0.375,
	'-sm': 0.75,
	''	: 1,
	'-lg': 1.5,
	'-xl': 2
);

$direction-types: (
	all: 'a',
	top: 't',
	bottom: 'b',
	vertical: 'y',
	horizontal: 'x'
);

@each $size-name, $size-val in $sizes {
	@each $direction, $direction-short in $direction-types {
		// default margin
		.m#{$direction-short}#{$size-name} {
			@if $direction == vertical {
				margin-top: $size-val * $space !important;
				margin-bottom: $size-val * $space !important;
			} @else if $direction == horizontal {
				margin-left: $size-val * $space !important;
				margin-right: $size-val * $space !important;
			} @else if $direction == all {
				margin: $size-val * $space !important;
			} @else {
				margin-#{$direction}: $size-val * $space !important;
			}
		}

		// default padding
		.p#{$direction-short}#{$size-name} {
			@if $direction == vertical {
				padding-top: $size-val * $space !important;
				padding-bottom: $size-val * $space !important;
			} @else if $direction == horizontal {
				padding-left: $size-val * $space !important;
				padding-right: $size-val * $space !important;
			} @else if $direction == all {
				padding: $size-val * $space !important;
			} @else {
				padding-#{$direction}: $size-val * $space !important;
			}
		}
	}
}