@font-face {
	font-family: 'icomoon';
	src: url('./../fonts/icomoon/icomoon.eot');
	src: url('./../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
		url('./../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('./../fonts/icomoon/icomoon.woff') format('woff'),
		url('./../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-account {
	&:before {
		content: $icon-account;
	}
}

.icon-arrow-left {
	&:before {
		content: $icon-arrow-left;
	}
}

.icon-bonus {
	&:before {
		content: $icon-bonus;
	}
}

.icon-cake {
	&:before {
		content: $icon-cake;
	}
}

.icon-close {
	&:before {
		content: $icon-close;
	}
}

.icon-mail {
	&:before {
		content: $icon-mail;
	}
}

.icon-history-order {
	&:before {
		content: $icon-history-order;
	}
}

.icon-logout {
	&:before {
		content: $icon-logout;
	}
}

.icon-map {
	&:before {
		content: $icon-map;
	}
}

.icon-menu {
	&:before {
		content: $icon-menu;
	}
}

.icon-tel {
	&:before {
		content: $icon-tel;
	}
}

.icon-profile {
	&:before {
		content: $icon-profile;
	}
}

.icon-shop {
	&:before {
		content: $icon-shop;
	}
}

.icon-add {
	&:before {
		content: $icon-add;
	}
}

.icon-edit {
	&:before {
		content: $icon-edit;
	}
}

.icon-eye {
	&:before {
		content: $icon-eye;
	}
}

.icon-help-circle {
	&:before {
		content: $icon-help-circle;
	}
}

.icon-info-circle {
	&:before {
		content: $icon-info-circle;
	}
}

.icon-remove {
	&:before {
		content: $icon-remove;
	}
}

.icon-heart-outline {
	&:before {
		content: $icon-heart-outline;
	}
}

.icon-heart {
	&:before {
		content: $icon-heart;
	}
}

// icon svg
.icon-svg-gift {
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.750092 8.375L12.0001 14L23.2501 8.375V20.375L12.0001 25.9999L0.750092 20.3749V8.375Z' fill='%23DB5449'/%3E%3Cpath d='M0.750092 9.5V13.0062L11.9626 18.5L23.25 12.9875V9.5L12.0001 15.0125L0.750092 9.5Z' fill='%23C54B42'/%3E%3Cpath d='M12.0001 25.9999V14L1.5001 8.75H0.750092V20.375L12.0001 25.9999Z' fill='%23D05045'/%3E%3Cpath d='M0.750092 9.5V13.0062L11.9626 18.5L12.0001 18.4812V14.9937V15.0125L0.750092 9.5Z' fill='%23BB483E'/%3E%3Cpath d='M0 7.98222L12 2.00098L24 7.98222V8.76974L12 14.7509L0 8.78845V7.98222Z' fill='%23EB6258'/%3E%3Cpath d='M18.8813 3.89377C18.4875 3.18127 17.6438 2.75 16.65 2.75C14.3813 2.75 12.7875 4.86876 12 6.21877C11.2125 4.86876 9.60004 2.76876 7.35002 2.76876C5.90628 2.76876 4.87502 3.65002 4.87502 4.85001C4.87502 6.98748 7.21877 8.375 11.925 8.375C16.6312 8.375 19.125 6.59377 19.125 4.86876C19.125 4.53128 19.0501 4.19379 18.8813 3.89377ZM7.83757 6.20006C7.31256 5.84381 7.12508 5.45005 7.12508 5.18754C7.12508 4.86881 7.4251 4.62506 7.85633 4.62506C8.86884 4.62506 9.67507 5.95631 10.1251 6.87508C8.94382 6.7813 8.25004 6.46252 7.83757 6.20006ZM16.1625 6.20006C15.75 6.46256 15.0563 6.7813 13.875 6.87503C14.3063 5.95631 15.1125 4.62502 16.1438 4.62502C16.575 4.62502 16.875 4.86877 16.875 5.1875C16.8751 5.45005 16.6875 5.84376 16.1625 6.20006Z' fill='%23EFEFEF'/%3E%3Cpath d='M0 8L12 13.8688L24 8V11.8812L11.9625 17.75L0 11.8812V8Z' fill='%23E2574C'/%3E%3Cpath d='M16.5001 12.1814V11.7502L12.0001 9.31269L7.50008 11.7502V12.1814L4.50011 10.8689V10.2689L11.8501 6.3877L12.0001 6.46268L12.1501 6.3877L19.5 10.2502V10.8502L16.5001 12.1814Z' fill='%23EFEFEF'/%3E%3Cpath d='M16.5 11.75V23.7313L19.5 22.2312V10.25L16.5 11.75Z' fill='%23DCDCDC'/%3E%3Cpath d='M4.50004 22.25L7.50002 23.75V11.7688L4.50004 10.25C4.50004 10.25 4.50004 22.25 4.50004 22.25Z' fill='%23D1D1D1'/%3E%3C/svg%3E%0A");
}