@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;800&family=Open+Sans:wght@400;600;700&display=swap');

html {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.35;
	color: #000;
	font-family: $open-sans;
}

body {
	color: #000;
	font-family: $open-sans;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.35;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

a {
	color: $color-secondary;
	font-weight: 700;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $exo-2;
	margin: 0;
	font-weight: 500;
	line-height: 1;
}

h1, .h1 {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 24px;
}

h2, .h2 {
	font-size: 28px;
	line-height: 32px;
	font-weight: 500;
	margin-bottom: 24px;
}

h3, .h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 12px;
}

h4, .h4 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 12px;
}

p {
	margin: 0;
	color: $color-paragraph;
	line-height: 1.75;

	&:not(:last-of-type) {
		margin: 0 0 24px 0;
	}
}

.title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.25px;
}

small, .small {
	font-size: 80%;
}

.uppercase {
	text-transform: uppercase;
}

.bold, .strong,
b, strong {
	font-weight: 700;
}

.text-center {
	text-align: center !important;
}

.t_color_black {
	color: $color-paragraph !important;
}

.t_color_blue {
	color: $color-blue !important;
}

.t_color_primary {
	color: $color-primary !important;
}

.t_color_dark-primary {
	color: $color-dark-primary !important;
}

.t_color_green {
	color: $color-green !important;
}

.t_color_secondary {
	color: $color-secondary !important;
}

.t_color_dark-secondary {
	color: $color-dark-secondary !important;
}

.t_color_red {
	color: $color-red !important;
}

hr {
	margin-top: 32px;
	margin-bottom: 32px;
	border: none;
	border-bottom: 1px solid $color-border;
}

table {
	border-collapse: collapse;

	tr {
		&:nth-of-type(even) {
			background-color: #fafafa;
		}
	}

	thead {
		th {
			background-color: $color-primary;
			color: #fff;
			padding: 18px 10px;
			font-weight: 600;
	
			&:first-of-type {
				border-radius: 6px 0 0 6px;
			}
	
			&:last-of-type {
				border-radius: 0 6px 6px 0;
			}
		}
	}

	tbody {
		td {
			padding: 18px 10px;
	
			&:first-of-type {
				border-top-left-radius: 6px;
				border-bottom-left-radius: 6px;
			}
	
			&:last-of-type {
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}
		}
	}
}