// Colors
$color-primary									: #0dafb9;
$color-dark-primary							: #0d93b0;
$color-secondary								: #ef9221;
$color-dark-secondary						: #eb6013;

$color-red											: #ff4838;
$color-dark-red									: #c72416;
$color-green										: #11b640;
$color-blue											: #0a71ab;

$color-button-focus-primary			: #0e71cc;
$color-button-focus-secondary		: #1162dc;

$color-paragraph								: #333333;
$color-gray											: #999999;
$color-light-gray								: #d9d9d9;
$color-background 							: #ebebeb;
$color-basic-background 				: #f5f5f5;
$color-border										: #e5e5e5;
$color-line											: #f2f2f2;

$space: 16px;

// Fonts
$open-sans	: 'Open Sans', sans-serif;
$exo-2	: 'Exo 2', $open-sans;

// Icon
$icon-account: "\e900";
$icon-arrow-left: "\e901";
$icon-bonus: "\e902";
$icon-cake: "\e903";
$icon-close: "\e904";
$icon-mail: "\e905";
$icon-history-order: "\e906";
$icon-logout: "\e907";
$icon-map: "\e908";
$icon-menu: "\e909";
$icon-tel: "\e90a";
$icon-profile: "\e90c";
$icon-shop: "\e90d";
$icon-add: "\e90e";
$icon-edit: "\e90f";
$icon-eye: "\e910";
$icon-help-circle: "\e911";
$icon-info-circle: "\e912";
$icon-remove: "\e913";
$icon-heart-outline: "\e914";
$icon-heart: "\e915";