.basket-page {
	.basket-gift {
		& > p {
			line-height: 16px;
		}
	}

	.backet-promocode {
		& > p {
			color: #000;
			line-height: 16px;
		}

		.col-2 {
			grid-template-columns: 1.05fr 0.95fr;
		}
	}

	.backet-total {
		&__sum {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #000;

			span {
				font-size: 18px;
				line-height: 24px;
				letter-spacing: 0.5px;
			}

			strong {
				font-family: $exo-2;
				letter-spacing: 0.1px;
			}
		}
	}
}

.empty-basket {
	height: calc(100vh - 56px - 57px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}