.bonus-page {
	.bonus-balance {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__title {
			display: flex;
		}

		& > span {
			font-family: $exo-2;
			font-weight: 700;
			letter-spacing: 0.1px;
		}
	}
	.bonus-table {
		table {
			width: 460px;
		}

		th, td {
			width: 115px;
			text-align: center;
			letter-spacing: 0.1px;

			&:first-of-type {
				text-align: left;
			}

			&:last-of-type {
				text-align: right;
			}
		}

		thead {
			th {
				font-family: $exo-2;
				color: #fff;
			}
		}
	}
}