.checkout {
	&-total-sum {
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			letter-spacing: 0.25px;
			font-size: 18px;
			line-height: 22px;
			font-weight: 600;
		}

		strong {
			font-family: $exo-2;
			letter-spacing: 0.1px;
		}
	}

	&-count-persones {
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			display: flex;
			align-items: center;
			color: #000;
			letter-spacing: 0.1px;

			i {
				position: relative;
				top: -1px;
				left: -4px;
				font-size: 31px;
				color: $color-primary;
				margin-right: 1px;
			}
		}

		.form-item__number-field-persons {
			width: 116px;
		}
	}

	&-bonus {
		.col-2 {
			grid-template-columns: 1fr 148px;
		}

		& > p {
			line-height: 1;
			letter-spacing: 0.1px;
		}
	}

	&-agree-order {
		margin-bottom: 27px;

		[data-tab-type="sms"] {
			.col-2 {
				grid-template-columns: 1fr 148px;

				button {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}