.contacts-page {
	margin-bottom: 28px;

	.contacts__method {
		& > span {
			display: inline-block;
			margin-bottom: 8px;
			color: $color-paragraph;
			line-height: 16px;
		}
	}

	.contacts__action {
		display: flex;
		align-items: center;

		i {
			display: inline-block;
			margin-right: 12px;
			font-size: 24px;
		}
	}

	.contacts-link {
		@include transition-hover;
		@include rounded(4px);
		background-color: $color-basic-background;
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 0.25px;
		display: flex;
		padding: 16px;
		text-decoration: none !important;
		color: #000;

		&:focus {
			background-color: $color-primary;
			color: #fff;
		}

		&:not(:last-of-type) {
			margin-bottom: 8px;
		}
	}
}

.map-page {
	height: calc(100vh - 56px - 57px);

	iframe {
		width: 100%;
		height: 100%;
	}
}

.delivery-zone-page {
	height: calc(100vh - 56px - 57px);

	iframe {
		width: 100%;
		height: 100%;
	}
}

.stocks-page {
	.stock {
		&:not(:last-of-type) {
			margin-bottom: 24px;
		}

		&__img {
			width: 100%;
			display: flex;
		}

		&__text {
			h3 {
				font-weight: 500;
				font-size: 14px;
				letter-spacing: 0.1px;
			}

			div {
				font-size: 14px;
				line-height: 1.75;
				color: $color-paragraph;
			}
		}
	}
}

.about-page {
	h1 {
		margin-bottom: 0;
	}
}