.history-page {
	.history-item {
		&-prop {
			display: flex;
			justify-content: space-between;

			span {
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.1px;
				color: #999;

				&:not(:last-of-type) {
					margin-bottom: 6px;
				}

				&:last-of-type {
					color: #000;
				}
			}
		}

		&__total {
			display: flex;
			justify-content: space-between;

			span {
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.25px;
				color: #000;

				&:last-of-type {
					font-family: $exo-2;
					font-weight: 700;
					font-size: 14px;
				}
			}
		}
	}
}