.loading-page {
	@include flex-center;
	@include flex-direction;
	background-color: $color-primary;
	height: 100vh;

	span {
		color: #fff;
		font-size: 18px;

		i {
			display: inline-block;
			width: 2px;
			height: 2px;
			border-radius: 1px;
			background-color: #fff;
			margin-left: 3px;
			animation: wavePoint 1s infinite;

			&:nth-of-type(2) {
				animation-delay: 0.33s;
			}

			&:nth-of-type(3) {
				animation-delay: 0.66s;
			}
		}
	}
}

@keyframes wavePoint {
	0%, 100% {
		transform: translate3d(0, 0, 0);
	}

	50% {
		transform: translate3d(0, -2px, 0);
	}
}