.order-final {
	&-info {
		span,
		strong {
			display: block;
			line-height: 1.2;
		}
	}

	&-price-detail {
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:not(:last-of-type) {
				margin-bottom: 12px;
			}

			span {
				font-size: 18px;
				line-height: 24px;
				letter-spacing: 0.5px;
				color: #424242;
			}

			strong {
				font-family: $exo-2;
				font-weight: 700;
				letter-spacing: 0.1px;
				color: #000;
			}
		}
	}

	&-total__sum {
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			letter-spacing: 0.25px;
			font-size: 18px;
			line-height: 22px;
			font-weight: 600;
		}

		strong {
			font-family: $exo-2;
			letter-spacing: 0.1px;
		}
	}
}