.product {
	&__img {
		position: relative;
		width: 100%;
		display: flex;

		img {
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 0;
	}

	&__description {
		font-size: 14px;
		line-height: 24px;
		color: $color-paragraph;
	}

	&__props {
		margin: 12px 0 0 0;
		padding: 0;
		list-style: none;
		font-size: 14px;
		line-height: 16px;
		color: #777777;
		display: flex;
		flex-wrap: wrap;

		li:not(:last-of-type) {
			margin-right: 32px;
		}
	}

	&__add-cart {
		.form-item__type_number {
			display: none;
		}
	}
}