.sign-in-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 56px - 57px);

	.sign-in__form {
		.get-sms-code {
			grid-template-columns: 1.05fr 0.95fr;

			.btn {
				padding: 17px 14px;
			}
		}
	}
}