mixin checkbox(id, name, text, checked = false, wrap = false)
	.form-item__radio(class=(wrap ? 'form-item' : '') + ' form-item__radio-' + name)
		label(for=id)
			block
			input(type="checkbox" id=id name=name checked=checked)
			div
				span
				if (text)
					p !{text}