mixin color-picker(name, colors, selectedColor, wrap = false)
	.form-item__color-picker(class=(wrap ? 'form-item' : '') + ' form-item__color-picker-' + name)
		input(id=name type="text" name=name)
		.swiper-container
			.swiper-wrapper
				each color in colors
					.swiper-slide
						a(
							href="javascript:void(0);" 
							data-color=color style="background: " + color 
							aria-selected=(color == selectedColor ? 'true' : 'false')
						)