mixin number-field(name, isBig = false, wrap = false, extraClass = '', value)
	.form-item__type_number(
		class=(
			extraClass + 
			(isBig ? ' form-item__type_number_size_lg' : '') + 
			(wrap ? 'form-item' : '') + 
			' form-item__number-field-' + name
		)
	)
		button.btn__remove.waves-effect.waves-orange
			i.icon-remove
		input(type="text" name=name value=(value ? value : 1) readonly)
		button.btn__add.waves-effect.waves-light
			i.icon-add