.form-item__checkbox,
.form-item__radio {
	position: relative;

	&:not(:last-of-type) {
		margin-bottom: .75 * $space;
	}

	label {
		display: flex;

		p {
			line-height: 1.1;
			display: inline-flex;
			align-items: center;
			min-height: 26px;
		}
	}

	input {
		clip: rect(1px, 1px, 1px, 1px);
		width: 0;
		height: 0;
		appearance: none;
		position: absolute;
		top: 0;
		left: 0;

		& + div {
			display: flex;
		}

		& + div > span {
			position: relative;
			padding-left: 30px;
			min-height: 20px;
			font-size: 14px;
			display: inline-flex;
			align-items: center;
			justify-content: flex-start;
			text-align: left;
			cursor: pointer;

			&::before {
				transition: 0.15s ease-in-out;
				@include rounded(2px);
				content: "";
				position: absolute;
				top: 5px;
				left: 1px;
				border: 2px solid $color-primary;
				width: 20px;
				height: 20px;
			}

			&::after {
				transition: opacity 0.15s ease-in-out 0.05s;
				content: "✓";
				font-size: 12px;
				position: absolute;
				top: 5px;
				left: 5px;
				opacity: 0;
			}
		}

		&:checked + div > span {
			&::before {
				border: 10px solid $color-primary;
			}

			&::after {
				opacity: 1;
			}
		}
	}
}

.form-item__radio {
	input {
		& + div > span {
			&::before {
				@include rounded(50%);
			}

			&::after {
				@include rounded(50%);
				top: 10px;
				left: 6px;
				content: '';
				opacity: 1;
				width: 10px;
				height: 10px;
				background-color: $color-primary;
				transform: scale(0);
				transition: transform 0.15s ease-in-out;
			}
		}

		&:checked + div > span {
			&::before {
				border-width: 2px;
			}

			&::after {
				transform: scale(1);
			}
		}
	}
}