.form-item__color-picker {
	position: relative;
	margin-top: 24px;
	margin-bottom: 38px;

	input {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		visibility: hidden;
		width: 1px;
		height: 1px;
		padding: 0;
		border: 0;
	}

	.swiper-container {
		margin: -5px 0;
	}

	.swiper-slide {
		width: auto;
		padding: 5px;

		a {
			display: flex;
			position: relative;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			text-decoration: none !important;
			font-weight: 400;

			&:after {
				transition: 0.25s ease-in-out;
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 50%;
				border: 0 solid $color-light-gray;
			}

			&[aria-selected="true"] {
				&:after {
					top: -5px;
					bottom: -5px;
					left: -5px;
					right: -5px;
					border-width: 5px;
				}
			}
		}
	}
}