.form-item__type_number {
	display: flex;
	align-items: center;

	button {
		@include flex-center;
		outline: none;
		border: none;
		font-size: 24px;
		padding: 0;
		width: 36px;
		height: 36px;
		cursor: pointer;
		border-radius: 50%;

		i {
			pointer-events: none;
		}

		&.btn__remove {
			border: 1px solid $color-border;
			background-color: #fff;
			color: $color-secondary;
		}

		&.btn__add {
			background-color: $color-secondary;
			color: #fff;
		}
	}

	input {
		border: none;
		font-size: 14px;
		padding-left: 8px;
		padding-right: 8px;
		padding: 0;
		width: calc(100% - 72px);
		text-align: center;
		line-height: 1;
		outline: none !important;
		background: transparent;
	}

	&_size_lg {
		button {
			width: 48px;
			height: 48px;
			font-size: 24px;
		}

		input {
			font-size: 28px;
			font-weight: 500;
			width: calc(100% - 96px);
		}
	}
}