.form-item__select {
	position: relative;
	width: 100%;
	display: flex;

	select {
		@include rounded(6px);
		width: 100%;
		-webkit-appearance: none;
		appearance: none;
		font-size: 16px;
		border: 1px solid $color-border;
		padding: 15px 40px 15px 15px;
		outline: none;
		min-height: 48px;
		background-color: white;
	}

	&::before {
		position: absolute;
		top: 50%;
		right: 20px;
		border: 4px solid transparent;
		border-top-color: #666;
		content: "";
	}
	
	.form-item__message {
		margin-top: 6px;
		font-size: 12px;
		color: $color-paragraph;
	}

	&.form-item_error {
		select {
			border-width: 2px;
			border-color: $color-red;
		}

		.form-item__message {
			color: $color-red;
		}
	}

	&.form-item_success {
		select {
			border-color: $color-green;
		}
	}

	&.disabled {
		select {
			pointer-events: none;
			border-color: $color-light-gray;
			color: $color-light-gray;
		}
	}
}