.form-item__switch {
	position: relative;

	label	{
		display: flex;
	}

	input {
		clip: rect(1px, 1px, 1px, 1px);
		width: 0;
		height: 0;
		appearance: none;
		position: absolute;
		top: 0;
		left: 0;

		& + span {
			position: relative;
			width: 35px;
			min-height: 19px;
			font-size: 14px;
			display: inline-flex;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;

			&::before {
				@include rounded(20px);
				transition: 0.15s ease-in-out;
				content: "";
				position: absolute;
				top: 1px;
				left: 0;
				background-color: $color-gray;
				width: 35px;
				height: 18px;
			}

			&::after {
				@include rounded(20px);
				transition: 0.15s ease-in-out;
				content: "";
				position: absolute;
				top: 3px;
				left: 3px;
				width: 14px;
				height: 14px;
				background-color: #fff;
			}
		}

		&:checked + span {
			&::before {
				background-color: $color-primary;
			}

			&::after {
				left: 18px;
			}
		}

		&:disabled {
			& + span {
				&::after {
					background-color: $color-light-gray;
				}
			}
		}
	}
}
