.form-item__text-field {
	position: relative;

	input {
		@include rounded(6px);
		font-size: 16px;
		border: 1px solid $color-border;
		padding: 15px 50px 15px 15px;
		outline: none;
		min-height: 48px;
		background-color: white;
		width: 100%;
		box-shadow: inset 0 0 0 100px white;
	}

	input + label {
		@include transition-hover;
		padding-left: 3px;
		padding-right: 3px;
		pointer-events: none;
		font-size: 16px;
		color: $color-paragraph;
		position: absolute;
		top: 15px;
    left: 10px;
		white-space: nowrap;
		max-width: calc(100% - 30px);
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: 9px;
			left: 0;
			right: 0;
			height: 2px;
			background: #fff;
			z-index: -1;
		}
	}

	&.focus {
		input + label {
			color: rgba($color: $color-primary, $alpha: 0.87);
			font-size: 12px;
			transform: translate(0, -24px);
		}
	}

	.form-item__message {
		margin-top: 6px;
		font-size: 12px;
		color: $color-paragraph;
	}

	&.form-item_error {
		input {
			border-width: 2px;
			border-color: $color-red;

			& + label {
				color: $color-red;
			}
		}

		.form-item__message {
			color: $color-red;
		}
	}

	&.form-item_success {
		input {
			border-color: $color-green;

			& + label {
				color: $color-green;
			}
		}
	}

	&.disabled {
		input {
			pointer-events: none;
			border-color: $color-light-gray;
			color: $color-light-gray;
		}

		label {
			color: $color-light-gray;
		}
	}

	.clear {
		transition: opacity 0.25s ease-in-out;
		display: flex;
		pointer-events: none;
		opacity: 0;
		position: absolute;
		top: 13px;
		right: 12px;
		font-size: 15px;
		padding: 0;
		width: 24px;
		height: 24px;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		background-color: rgba($color: #000000, $alpha: 0.12);
		color: #666;
		border: none;
		outline: none;

		&.active {
			pointer-events: all;
			opacity: 1;
		}
	}
}