.form-item__textarea {
	display: flex;
	position: relative;

	textarea {
		@include rounded(4px);
		transition: border-color 0.25s ease-in-out;
		font-size: 16px;
		border: 1px solid $color-border;;
		padding: 15px;
		outline: none;
		min-height: 108px;
		background-color: white;
		width: 100%;
		resize: vertical;
	}

	textarea + label {
		@include transition-hover;
		pointer-events: none;
		font-size: 16px;
		position: absolute;
		top: 15px;
		left: 15px;
		padding: 0 3px;
		color: $color-paragraph;

		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: -2px;
			right: -2px;
			height: 2px;
			background: #fff;
			z-index: -1;
		}
	}

	&.focus {
		textarea + label {
			color: rgba($color: $color-primary, $alpha: 0.87);
			font-size: 12px;
			transform: translate(0, -24px);
		}
	}

	.form-item__message {
		margin-top: 6px;
		font-size: 12px;
		color: $color-paragraph;
	}

	&.form-item_error {
		textarea {
			border-width: 2px;
			border-color: $color-red;
		}

		.form-item__message {
			color: $color-red;
		}
	}

	&.form-item_success {
		textarea {
			border-color: $color-green;
		}

		label {
			color: $color-green;
		}
	}

	&.disabled {
		textarea {
			pointer-events: none;
			border-color: $color-light-gray;
			color: $color-light-gray;
		}

		label {
			color: $color-light-gray;
		}
	}
}