include ../mixins/form/number-field.pug

mixin basket-product(product)
	.basket-product
		a.basket-product__img(href="javascript:void(0);")
			img(src=product.img, alt=product.name)
		.basket-product-content
			a.basket-product__title(href="javascript:void(0);")= product.name
			.basket-product-footer
				.basket-product__price= product.price + ' ₽'
				+number-field('basket-product-count-' + product.id, false, false, 'basket-product__count', product.amount)
		a.basket-product__remove.icon-close(href="javascript:void(0);")