include ../mixins/form/number-field.pug

mixin catalog-item(product)
	.catalog-item
		case product.status
			when 'new'
				.product__status.blue Новинка
			when 'stock' 
				.product__status.red Акция
			when 'hit'
				.product__status.orange Хит
		a.catalog-item__like(href="javascript:void(0);")
			i(class=product.like > 0 ? 'icon-heart' : 'icon-heart-outline')
			span= product.like
		.catalog-item__content
			a.catalog-item__img(href="javascript:void(0);")
				img(src=product.img)
			.catalog-item__wrap
				.catalog-item__top
					a.catalog-item__name(href="javascript:void(0);")= product.name
					a.catalog-item__info.icon-info-circle(
						href="javascript:void(0);"
						data-tippy-content="<div class='product-props'><div><span>Вес</span><span>710 г.</span></div><div><span>Количество</span><span>8 шт.</span></div><h6>Пищевая ценность на 100г</h6><div><span>Энерг. ценность</span><span>169 ккал</span></div><div><span>Белки</span><span>10 г</span></div><div><span>Жиры</span><span>7 г</span></div><div><span>Углеводы</span><span>18 г</span></div><div>"
					)
				.catalog-item__bottom
					.catalog-item__price= product.price + ' ₽'
					button.btn.btn_size_sm.waves-effect.waves-light.catalog-item__add-cart В корзину
					+number-field('count')
