mixin header-inner(title, icon)
	header.header.header_inner
		.header-wrap
			a.header__back(href="javascript:void(0);" class=('icon-'+(icon ? icon : 'arrow-left')))
			.header__title= title
			a.header__tel(href="tel:+79999999999")
				i.icon-tel
