mixin product-history(name, img, price, amount)
	.product-history
		a.product-history__img(href="javascript:void(0);")
			img(src=img, alt=name)
		.product-history-content
			a.product-history__title(href="javascript:void(0);")= name
			.product-history-footer
				.product-history__price= price + ' ₽'
				.product-history__amount= amount + ' шт.'
		a.product-history__info.icon-info-circle(
			href="javascript:void(0);"
			data-tippy-content="<div class='product-props'><div><span>Вес</span><span>710 г.</span></div><div><span>Количество</span><span>8 шт.</span></div><h6>Пищевая ценность на 100г</h6><div><span>Энерг. ценность</span><span>169 ккал</span></div><div><span>Белки</span><span>10 г</span></div><div><span>Жиры</span><span>7 г</span></div><div><span>Углеводы</span><span>18 г</span></div><div>"
		)
