include ../mixins/form/number-field.pug

mixin spices(item)
	.spices
		.spices__title
			h6= item.title
			span Бесплатно 1 шт.
		.spices__price= item.price + ' ₽'
		button.btn.btn_size_sm.spices__add-cart.waves-effect.waves-light В корзину
		+number-field('count')