mixin table(header, data)
		table
			thead
				tr
					each col in header
						th(width=col.width)= col.title
			tbody
				each row in data
					tr
						each cell in row
							td(width=cell.width class=cell.extraClass)= cell.value
