include mixins/header-inner.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title О компании
	body
		.wrap
			.wrap-content
				+header-inner('О компании')

				.content.container
					main.about-page.mt
						.d-flex.align-items-center.mb
							img(src="./images/map-icon.png" alt="")
							h1.ml О компании
						p 
							| Служба доставки “Суши-Тайм” работает с 2008 года в городе Южно-Сахалинск. Это единственная 
							| компания,которая на протяжении 11 лет держит лидирующие позиции на постоянно развивающемся 
							| и усложняющемся рынке доставки еды на Сахалине.
						p 
							| За все время работы было выполнено более 200000 заказов, наши водители суммарно проехали 20 раз 
							| вокруг Земли. Также наши суши и роллы летали в Хабаровск, Владивосток и на Курилы.
						p 
							| В 2015 году мы открыли филиал в г. Хабаровск. В конце 2019 года в результате полного ребрендинга 
							| компании название “Суши-Тайм” изменено на новое - служба доставки “Рис и Море”.

			include includes/navbar.pug