<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Все модальные окна
	body
		.wrap
			.wrap-content
				include includes/header.pug
				.content.container
					main.main-page.my-xl

						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="not-delivery") Доставка не доступна
						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="min-sum") Минимальная сумма заказа
						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="add-spices") Выбрать специи
						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="gift-added") Подарок добавлен
						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="gifts") Выбрать подарок

			include includes/navbar.pug

		include includes/modals/modal-not-delivery.pug
		include includes/modals/modal-min-sum.pug
		include includes/modals/modal-add-spices.pug
		include includes/modals/modal-gift-added.pug