include mixins/spices.pug
include mixins/basket-product.pug
include mixins/form/radio.pug
include mixins/form/text-field.pug

- var products = [
- 	{ id: 1, img: './images/products/1.png', name: 'Филадельфия лайт с тобико', price: 390, amount: 25 },
- 	{ id: 2, img: './images/products/2.png', name: 'Филадельфия лайт с тобико', price: 390, amount: 25 },
- 	{ id: 3, img: './images/products/3.png', name: 'Филадельфия лайт с тобико', price: 390, amount: 25 },
- 	{ id: 4, img: './images/products/4.png', name: 'Филадельфия лайт с тобико', price: 390, amount: 25 },
- ];
- var extraProducts = [
-		{title: 'Васаби, соевый соус, имбирь (140г)', price: 60},
-		{title: 'Соус соевый (100г)', price: 10},
-		{title: 'Имбирь (30г)', price: 25},
-		{title: 'Васаби (10г)', price: 10},
-];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Корзина
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.basket-page.mt
						.basket-list
							each product in products
								+basket-product(product)

						.basket-spices.mt-xl
							each extraProduct in extraProducts
								+spices(extraProduct)

						.basket-gift.mt-xl
							p.mb Выберите свой подарок
							+radio('gift-1', 'gift', 'Цезарь ролл подарок от 1000 руб.', true)
							+radio('gift-2', 'gift', 'Реддо подарок от 1500 руб.')
							+radio('gift-3', 'gift', 'Цезарь темпура подарок от 1500 руб.')
							+radio('gift-4', 'gift', 'Филадельфия биг подарок от 3000 руб.')

						.backet-promocode.mt-xl.mb-sm
							p.mb Введите промокод
							.col-2.align-items-flex-start
								+text-field('promocode', 'Промокод', true, true, '', 'Описание для промокода')
								button.btn.btn_outline.btn_size_lg.waves-effect.waves-blue Применить

						.backet-total.bottom-action-block
							.backet-total__sum.mb-sm
								span Итоговая сумма
								strong 9 999 ₽
							button.btn.btn_size_lg.waves-effect.waves-light.full-width Оформить заказ

			include includes/navbar.pug