include mixins/header-inner.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Бонусная система
	body
		.wrap
			.wrap-content
				+header-inner('Бонусная система')

				.content.container
					main.bonus-system-page.mt-xl
						h2 Как заработать?
						h3 Совершайте покупки
						p С каждого заказа вам начисляется 5% от его стоимости на личный счет, так же дополнительные бонусы могут быть начислены по различным акциям.
						br
						br
						h2 Как потратить?
						h3 На сайте
						p Бонусами вы можете оплачивать до 30% от стоимости заказа.
						.d-flex.align-items-center.mt
							img(src="./images/coin.png")
							strong.ml-sm 1 бонус = 1 рубль

			include includes/navbar.pug