include mixins/header-inner.pug
include mixins/table.pug
- var tableHeader = [
-		{ title: 'Количество'		},
-		{ title: 'Операция'			},
-		{ title: 'Номер заказа'	},
-		{ title: 'Дата покупки'	}
-];
- var tableData = [
-		[{ value: '+120', extraClass: 't_color_green' }, { value: 'Зачислено' }, { value: 459128 }, { value: '08.08.2019' }],
-		[{ value: '+230', extraClass: 't_color_green' }, { value: 'Зачислено' }, { value: 459128 }, { value: '10.08.2019' }],
-		[{ value: '-50', extraClass: 't_color_red' }, { value: 'Списано' }, { value: 333568 }, { value: '16.08.2019' }],
-		[{ value: '+385', extraClass: 't_color_green' }, { value: 'Зачислено' }, { value: 459128 }, { value: '20.08.2019' }],
-		[{ value: '+450', extraClass: 't_color_green' }, { value: 'Зачислено' }, { value: 167999 }, { value: '23.08.2019' }],
-		[{ value: '-1250', extraClass: 't_color_red' }, { value: 'Списано' }, { value: 459128 }, { value: '30.08.2019' }]
-];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Бонусы
	body
		.wrap
			.wrap-content
				+header-inner('Бонусы')

				.content.container
					main.bonus-page.mt-lg
						.bonus-balance
							.bonus-balance__title
								img(src="./images/coin.png")
								.title.ml-sm Баланс бонусов
							span 1249
						.bonus-table.mt-lg.pb-sm(data-simplebar data-simplebar-auto-hide="false")
							+table(tableHeader, tableData)

			include includes/navbar.pug