include mixins/header-inner.pug
include mixins/form/radio.pug
include mixins/form/text-field.pug
include mixins/form/select.pug
include mixins/form/textarea.pug
include mixins/form/number-field.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Оформление заказа
	body
		.wrap
			.wrap-content
				+header-inner('Оформление заказа')

				.content.container
					main.checkout-page.mt-lg
						.checkout-total-sum.mb-lg
							span Итоговая сумма
							strong 9 999 ₽

						.checkout-types
							.tabs(role="tabs")
								.tabs-list.col_2
									a.tabs-list__item(role="tab" href="#delivery" aria-selected="true") Доставка
									a.tabs-list__item(role="tab" href="#pickup" aria-selected="false") Самовывоз
									.tabs-list__background
								.tabs-content
									.tabs-content__element(data-tab-type="delivery" aria-hidden="false")
										include includes/checkout-delivery.pug
									.tabs-content__element(data-tab-type="pickup" aria-hidden="true")
										include includes/checkout-pickup.pug

						hr.mx-

						.checkout-client
							+text-field('name', 'Имя', true, true)
							+text-field('tel', 'Номер телефона', true, true)
							+select('time-delivery', ['Время доставки', '9:00', '9:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '...'], true)
							+textarea('comment', 'Комментарий')

						hr.mx-

						.checkout-count-persones
							span
								i.icon-profile
								| Количество персон
							+number-field('persons', false, false, '', 2)

						hr.mx-

						.checkout-bonus
							h2 Бонусный счёт
							.col-2 
								+text-field('bonus', '', true, true, '', '', 'до 250')
								.font-item
									button.btn.btn_size_lg.waves-effect.waves-light.full-width Списать
							p Бонусами вы можете оплачивать до 30% от стоимости заказа

						hr.mx-

						.checkout-payment
							h2 Способ оплаты
							+radio('payment-1', 'payment', 'Курьеру наличными', true)
							+radio('payment-2', 'payment', 'Оплатить сейчас банковской картой')
							+radio('payment-3', 'payment', 'Курьеру банковской картой')


						hr.mx-
						.checkout-agree-order
							h2.mb Подтверждение заказа
							.tabs(role="tabs")
								.tabs-list.col_2
									a.tabs-list__item(role="tab" href="#sms" aria-selected="true") SMS
									a.tabs-list__item(role="tab" href="#call-operator" aria-selected="false") Звонок оператора
									.tabs-list__background
								.tabs-content
									.tabs-content__element(data-tab-type="sms" aria-hidden="false")
										.col-2
											+text-field('code', 'Код', true, true)
											.form-item
												button.btn.btn_size_lg.waves-effect.waves-light.full-width Получить код
									.tabs-content__element(data-tab-type="call-operator" aria-hidden="true")

						.checkout-submit.bottom-action-block
							.checkout-total-sum.mb-sm
								span Итоговая сумма
								strong 9 999 ₽
							button.btn.btn_size_lg.waves-effect.waves-light.full-width(data-modal-open="add-spices") Оформить заказ

			include includes/navbar.pug

		include includes/modals/modal-add-spices.pug
		include includes/modals/modal-gift-added.pug