include mixins/header-inner.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Контакты
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.contacts-page.my-xl
						a.btn.btn_size_lg.waves-effect.waves-light.full-width(href="javascript:void(0);") «Рис и Море» на карте
						.contacts-methods.mt-xl
							.contacts__method.mb
								span Закажите роллы по телефону
								.contacts__action
									i.icon-tel
									strong +7 (4242) 73–00–33
							.contacts__method.mb
								span Напишите нам
								.contacts__action
									i.icon-mail
									a(href="mail:admin@smbs.me") admin@smbs.me
							.contacts__method.mb
								span «Рис и Море» в соц. сетях
								.contacts__action
									a(href="javascript:void(0);")
										img(src="./images/instagram.svg")
						.contacts-links.mt-xl
							a.contacts-link(href="javascript:void(0);") Зоны доставки
							a.contacts-link(href="javascript:void(0);") Доставка
							a.contacts-link(href="javascript:void(0);") Акции
							a.contacts-link(href="javascript:void(0);") Бонусная система
							a.contacts-link(href="javascript:void(0);") О компании
							a.contacts-link(href="javascript:void(0);") Оплата и возрат


			include includes/navbar.pug