<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Список адресов
	body
		.wrap
			.wrap-content
				include mixins/header-inner.pug
				+header-inner('Список адресов')

				.content.container
					main.delivery-list-page
						ul.menu-list.mx-
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-map.t_color_red
									.menu-list__text
										h6 ул. Капитанская д. 65 кв. 98
										span Дом
									a.icon-edit(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-map.t_color_green
									.menu-list__text
										h6 ул. Навигационая д. 32 кв. 145
										span Работа
									a.icon-edit(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-map.t_color_blue
									.menu-list__text
										h6 ул. Ленина д. 48 кв. 11
										span Бабушка
									a.icon-edit(href="javascript:voud(0);")
						.bottom-action-block
							button.btn.btn_outline.btn_size_lg.waves-effect.waves-blue.full-width Добавить новый адрес

			include includes/navbar.pug