include mixins/header-inner.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Зоны доставки
	body
		.wrap
			.wrap-content
				+header-inner('Зоны доставки')

				.content.container
					main.delivery-zone-page.mx-
						iframe(src="https://www.google.com/maps/d/embed?mid=1JUsorSaA9uudwruJQ7gFURKUFsrSkw6B&z=12" frameborder="0")

			include includes/navbar.pug
