<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Пустая корзина
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.basket-page
						.empty-basket
							img.mb-xl(src="./images/basket-empty.png")
							h3 В корзине пока ничего нет
							a.btn.btn_size_lg.waves-effect.waves-light.full-width.mt-sm(href="javascript:void(0);") Выбрать

			include includes/navbar.pug