include mixins/header-inner.pug
include mixins/product-history.pug
include mixins/dropdown.pug

- var historyList = [
-		'Заказ № 452978 от 07.08.2019 14:55:09',
-		'Заказ № 452978 от 07.08.2019 14:55:09',
-		'Заказ № 452978 от 07.08.2019 14:55:09',
-		'Заказ № 452978 от 07.08.2019 14:55:09'
-]

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title История заказов
	body
		.wrap
			.wrap-content
				+header-inner('История заказов')

				.content.container
					main.history-page.mt
						.history-list
							each item in historyList
								+dropdown(item, 'history-item', 'history')
									+product-history('Филадельфия лайт с тобико', './images/products/1.png', 390, 25)
									+product-history('Филадельфия лайт с тобико', './images/products/2.png', 390, 25)
									+product-history('Филадельфия лайт с тобико', './images/products/3.png', 390, 25)
									.history-item-footer.mt-sm
										.history-item-prop
											span Статус:
											span Доставлено
										.history-item-prop
											span Спосуб получения:
											span Доставка
										.history-item-prop
											span Способ оплаты:
											span Наличный
									.history-item__total.mt
										span Итоговая сумма
										span 1 390 ₽
									button.btn.btn_size_lg.history-item__btn-repeat-order.waves-effect.waves-light.full-width.mt-lg Повторить заказ

			include includes/navbar.pug