<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Главная
	body
		.wrap
			include includes/header.pug

			.content.container
				main.main-page.mt.mx-
					.banner.swiper-container.mb
						.swiper-wrapper
							.swiper-slide
								a(href="javascript:void(0);")
									img(src="./images/banner.png", alt="Банер")
							.swiper-slide
								a(href="javascript:void(0);")
									img(src="./images/banner.png", alt="Банер")
							.swiper-slide
								a(href="javascript:void(0);")
									img(src="./images/banner.png", alt="Банер")
							.swiper-slide
								a(href="javascript:void(0);")
									img(src="./images/banner.png", alt="Банер")
							.swiper-slide
								a(href="javascript:void(0);")
									img(src="./images/banner.png", alt="Банер")
						.swiper-pagination

					- var products = [
					-		{ name: 'Филадельфия', status: 'new', price: '3 555', img: './images/products/1.png', like: 5 },
					-		{ name: 'Филадельфия лайт с тобико', status: 'stock', price: '333', img: './images/products/2.png', like: 0 },
					-		{ name: 'Филадельфия лайт с тобико', price: '499', img: './images/products/3.png', like: 15 },
					-		{ name: 'Филадельфия лайт с тобико', price: '1 399', img: './images/products/4.png', like: 0 },
					-		{ name: 'Филадельфия лайт с тобико', status: 'new', price: '99 999', img: './images/products/5.png', like: 3 },
					-		{ name: 'Филадельфия лайт с тобико', status: 'hit', price: '11 999', img: './images/products/6.png', like: 11 },
					-		{ name: 'Филадельфия лайт с тобико', price: '5 000', img: './images/products/7.png', like: 2 }
					- ];
					include mixins/catalog-item.pug

					.catalog
						include includes/catalog-tabs.pug
						.catalog-list.mt.pb
							each item in products
								+catalog-item(item)

			include includes/navbar.pug