<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Загрузка
	body
		.wrap
			.wrap-content
				.content.container
					main.loading-page.mx-
						img(src="./images/logo-white.svg")
						span.mt-xl
							| Загрузка
							i
							i
							i
