include mixins/header-inner.pug
include mixins/product-history.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Заказ оформлен
	body
		.wrap
			.wrap-content
				+header-inner('Заказ')

				.content.container
					main.order-final-page.mt-lg
						.order-final-header.mb-lg
							h2.mb-xs Спасибо за ваш заказ!
							p Он будет обработан в ближайшее время

						.order-final-info
							.mb
								span.mb-xs Номер вашего заказа
								strong 459128
							.mb
								span.mb-xs Ожидаемое время доставки
								strong Как можно скорее
							.mb
								span.mb-xs Адрес доставки
								strong Красноярск, ул. Капитанская д. 11 кв. 30
							.mb
								span.mb-xs Способ оплаты
								strong Наличный расчёт при получении

						hr.mx-

						h3.mb Данные вашего заказа
						.order-final-basket
							+product-history('Филадельфия лайт с тобико', './images/products/1.png', 390, 25)
							+product-history('Филадельфия лайт с тобико', './images/products/2.png', 390, 25)
							+product-history('Филадельфия лайт с тобико', './images/products/3.png', 390, 25)

						hr.mx-

						.order-final-price-detail.mb-xl
							.order-final-price-detail__item
								span Товаров на
								strong 2 159 ₽
							.order-final-price-detail__item
								span Скидка
								strong -150 ₽
							.order-final-price-detail__item
								span Доставка
								strong 0 ₽

						.order-final-total.bottom-action-block
							.order-final-total__sum.mb-sm
								span Итого
								strong 9 999 ₽
							button.btn.btn_size_lg.waves-effect.waves-light.full-width Посмотреть историю заказов

			include includes/navbar.pug