include mixins/header-inner.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Оплата и возврат
	body
		.wrap
			.wrap-content
				+header-inner('Оплата и Возврат')

				.content.container
					main.pay-and-return-page

			include includes/navbar.pug