include mixins/form/number-field.pug
include mixins/spices.pug
- var items = [
-		{title: 'Васаби, соевый соус, имбирь (140г)', price: 60},
-		{title: 'Соус соевый (100г)', price: 10},
-		{title: 'Имбирь (30г)', price: 25},
-		{title: 'Васаби (10г)', price: 10},
-];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Цезарь темпура
	body
		.wrap
			.wrap-content
				include includes/header-product.pug

				.content.container
					main.product-page.mt.mb-xl
						.product
							.product__img
								img(src="./images/product-detail.png")
								.product__status.red Акция
							h1.product__title.mt Цезарь темпура
							.product__description.mt Рис, нори, огурец, курица обжаренная, сыр сливочный, сухари «Панко», соус «Цезарь»
							ul.product__props
								li 675 г.
								li 8 шт.
								li 130 ккал./100 г.
							.product__add-cart.mt-lg
								button.btn.btn_size_lg.waves-effect.waves-light.full-width.product__btn-add-cart В корзину
								+number-field('product-count', true)

							.spices-list.mt-xl
								each item in items
									+spices(item)

			include includes/navbar.pug