<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Профиль
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.profile-page
						ul.menu-list
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-account
									.menu-list__text
										h6 Профиль и номер телефона
										span Владимир, +79620783770
									a.icon-edit(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-map
									.menu-list__text
										h6 Адреса доставки
										span Дом, Работа, Бабушка
									a.icon-edit(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-history-order
									.menu-list__text
										h6 История заказов
									a.icon-eye(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-bonus
									.menu-list__text
										h6 Бонусов
										span 15 баллов
									a.icon-eye(href="javascript:voud(0);")
							li.menu-list__item
								a.menu-list__item-wrap(href="javascript:void(0);")
									i.icon-logout
									.menu-list__text
										h6.t_color_red Выйти

			include includes/navbar.pug