include mixins/header-inner.pug
include mixins/form/radio.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Выберите город
	body
		.wrap
			.wrap-content
				+header-inner('Выберите город', 'close')

				.content.container
					main.select-city-page.mt-xl
						+radio('city-1', 'city', 'Хабаровск', true, false, 'mb-lg')
						+radio('city-2', 'city', 'Южно-Сахалинск', false, false, 'mb-lg')


			include includes/navbar.pug