include mixins/header-inner.pug
include mixins/form/switch.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Настройки
	body
		.wrap
			.wrap-content
				+header-inner('Настройки')

				.content.container
					main.settings-page.mx-
						.content
							main.profile-page
								ul.menu-list
									li.menu-list__item
										.menu-list__item-wrap
											i.icon-tel
											.menu-list__text
												h6 Номер телефона
												span +7 962 078 37 70
											a.icon-edit(href="javascript:voud(0);")
									li.menu-list__item
										.menu-list__item-wrap
											i.icon-profile
											.menu-list__text
												h6 Имя
												span Ваше имя
											a.icon-edit(href="javascript:voud(0);")
									li.menu-list__item
										.menu-list__item-wrap
											i.icon-mail
											.menu-list__text
												h6 Эл. почта
												span example@mail.com
											a.icon-edit(href="javascript:voud(0);")
									li.menu-list__item
										.menu-list__item-wrap
											i.icon-cake
											.menu-list__text
												h6 День рождения*
												span 00.00.2020
											a.icon-edit(href="javascript:voud(0);")
									li.menu-list__item
										.menu-list__item-wrap.d-flex.justify-content-space-between
											p Получать новости от «Рис и Море»
											+switch('checkbox')
								p.settings__description.container.mt *Изменить дату рождения можно один раз. В ближайшие дни от вашего дня рождения формируються индвидуальные акции

			include includes/navbar.pug