include mixins/header-inner.pug
include mixins/form/text-field.pug
include mixins/form/color-picker.pug
include mixins/form/select.pug
include mixins/form/switch.pug
include mixins/form/textarea.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Адрес доставки
	body
		.wrap
			.wrap-content
				+header-inner('Адрес доставки')

				.content.container
					main.settings-delivery-page.mt
						form
							+text-field('delivery-name', 'Название', true, true)
							+color-picker('color-picker', ['#0dafb9', '#0d93b0', '#ef9221', '#eb6013', '#ff4838', '#11b640', '#0a71ab', '#333333'], '#0dafb9', true)
							hr.mx-
							+select('city', ['Город', 'Хабаровск', 'Южно-Сахалинск'], true)
							+text-field('street', 'Улица', true, true)
							.col-2
								+text-field('house', 'Дом', true, true)
								+text-field('apartment', 'Квартира', true, true)
							.col-2
								+text-field('porch', 'Подъезд', true, true)
								+text-field('floor', 'Этаж', true, true)
							.d-flex.justify-content-space-between
								p Частный дом
								+switch('private-house')
							+textarea('comment-address', 'Комментарий к адресу', false, '', 'mt-lg')
							hr.mx-
							button.btn.btn_outline-red.btn_size_lg.waves-effect.waves-red.btn-delete-address.full-width(type='button') Удалить адрес
							.bottom-action-block
								button.btn.btn_size_lg.waves-effect.waves-light.btn-submit.full-width Сохранить изменения


			include includes/navbar.pug