include mixins/form/text-field.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Авторизация
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.sign-in-page
						h1.text-center.mb-xl Авторизация
						form.sign-in__form
							+text-field('tel', 'Номер телефона', true, true)
							.col-2.get-sms-code
								+text-field('sms-code', 'Код', true, true)
								.form-item
									button.btn.btn_outline.waves-effect.waves-blue.btn_size_lg.full-width(type='button') Получить код
							button.btn.btn_size_lg.waves-effect.waves-light.full-width Войти

			include includes/navbar.pug