include mixins/header-inner.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Акции
	body
		.wrap
			.wrap-content
				+header-inner('Акции')

				.content.container
					main.stocks-page.my-xl
						.stocks-list
							.stock
								img.stock__img.mb-xs(src="./images/banner.png" alt="Филадельфия лайт с тобико")
								.stock__text
									h3.mb-sm Филадельфия лайт с тобико
									div Чтобы получать письма с самыми выгодными акциями каждый месяц, заполните поле email в личном кабинете и поставьте галочку в поле «подписка на акции».
							.stock
								img.stock__img.mb-xs(src="./images/banner.png" alt="Филадельфия лайт с тобико")
								.stock__text
									h3.mb-sm Филадельфия лайт с тобико
									div Чтобы получать письма с самыми выгодными акциями каждый месяц, заполните поле email в личном кабинете и поставьте галочку в поле «подписка на акции».
							.stock
								img.stock__img.mb-xs(src="./images/banner.png" alt="Филадельфия лайт с тобико")
								.stock__text
									h3.mb-sm Филадельфия лайт с тобико
									div Чтобы получать письма с самыми выгодными акциями каждый месяц, заполните поле email в личном кабинете и поставьте галочку в поле «подписка на акции».

			include includes/navbar.pug