@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/typography';
@import 'base/animate';
@import 'base/icons';
@import 'base/grid';

@import '../../node_modules/sweetalert2/src/sweetalert2';

@import 'components/simplebar';
@import 'components/swiper';
@import 'components/buttons';
@import 'components/waves-effect';
@import 'components/input-fields';
@import 'components/bottom-action-block';
@import 'components/tabs';
@import 'components/tooltip';
@import 'components/catalog';
@import 'components/spices';
@import 'components/navbar';
@import 'components/header';
@import 'components/modal';
@import 'components/pagination';
@import 'components/menu-list';
@import 'components/dropdown';
@import 'components/product-history';
@import 'components/basket-product';

.wrap {
	@include flex;
	@include flex-direction;
	min-height: 100vh;

	.wrap-content {
		flex-direction: column;
		display: flex;
		flex-grow: 1;
	}

	.content {
		flex-direction: column;
		display: flex;
		flex-grow: 1;
	}
}

@import 'pages/loading';
@import 'pages/index';
@import 'pages/product';
@import 'pages/settings-delivery';
@import 'pages/history';
@import 'pages/bonus';
@import 'pages/sign-in';
@import 'pages/contacts';
@import 'pages/basket';
@import 'pages/checkout';
@import 'pages/order-final';